In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(
    data=[
        [1, 2, 3],
        [7, 7, 7], 
        [11, 77, 9]
    ],
    columns=['a', 'b', 'c']
)

In [10]:
df

    a   b  c
0   1   2  3
1   7   7  7
2  11  77  9

In [11]:
mask = df['b'] > 3
df[mask]

    a   b  c
1   7   7  7
2  11  77  9

In [13]:
df['c'] > 3

0    False
1     True
2     True
Name: c, dtype: bool

In [19]:
df['a'].value_counts(normalize=True)

a
1     0.333333
7     0.333333
11    0.333333
Name: proportion, dtype: float64

In [20]:
df.describe()

               a          b         c
count   3.000000   3.000000  3.000000
mean    6.333333  28.666667  6.333333
std     5.033223  41.932485  3.055050
min     1.000000   2.000000  3.000000
25%     4.000000   4.500000  5.000000
50%     7.000000   7.000000  7.000000
75%     9.000000  42.000000  8.000000
max    11.000000  77.000000  9.000000

In [22]:
df.iloc[2, 1]

77